*{margin: 0;
  padding:0;
  box-sizing: border-box;}
h1{ 
text-align: start;}
#openingstatement{z-index: 10;
    position: relative;
    font-size: 30px;
    font-weight: 500;
    color: var(--foreground-intense);
    margin: 1rem 0 4rem 0;
    letter-spacing: -0.3px;
    text-wrap: balance;
    text-align: center;}
#past{margin-left: auto; ;}
body{background-image: url("images/ChatGPT\ Image\ Jul\ 15\,\ 2026\,\ 12_56_26\ PM.png");
     background-size: cover;
     color: aliceblue;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
}


p{ 
font-size: large;
font-weight: 900;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#about{ 
text-align: left;
 }
#specifics{ 
font-size: large;}

header{display: flex;
    align-items: center;
    padding:1rem 2rem;
    text-align: center;
 
flex-wrap: wrap;
justify-content: space-between;
flex-direction: column;
}
nav{display:flex;
    margin-left:0;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}
#login{color: blue;
text-decoration: underline;}
#skills{width: 100%;
        max-width:200px ;}

nav a{text-decoration: none;
 ;
font-size: x-large;
font-weight: 600;}
#form{color: black;
font-size: large;
text-align: center;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
#close{text-align: center;}
@media (max-width:768px)
